<html>
<head>
	<title>Adventum</title>	
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="css/homeStyle.css" rel="stylesheet">
	<!-- Bootstrap -->
	<link href="../css/bootstrap.min.css" rel="stylesheet">
	<link href="../css/bootstrap-theme.min.css" rel="stylesheet">
</head>

<body>
    <div class="container" style="margin-top: 5%">
        <center><h1>Surprise!</h1></center>

        {{#with currPlace}}
            <div id="{{id}}" align="center" style="margin-top: 8%">
            	<h2>{{name}}</h2>
            	
            	<img src="{{image}}" height="40%" width="70%">
                <br>
                
                <h3>Type: {{type}}</h3>
                                
                Friend Checkins: {{numCheckins}}
            </div>
        {{/with}}

        <p align="center" style="margin-top: 15%">
            <a href="/map">Back to Map</a>
        </p>
    </div>

	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
	<script src="https://code.jquery.com/jquery.js"></script>
	<!-- Include all compiled plugins (below), or include individual files as needed -->
	<script src="js/bootstrap.min.js"></script>
    <!-- <script src="../routes/surprise.js"></script> -->
</body>
</html>
