<html>
<head>
	<title>Adventum</title>	
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="css/homeStyle.css" rel="stylesheet">
	<!-- Bootstrap -->
	<link href="../css/bootstrap.min.css" rel="stylesheet">
	<link href="../css/bootstrap-theme.min.css" rel="stylesheet">
	<link href="../css/homeStyle.css" rel="stylesheet">
	<!-- this is a comment in HTML -->

    <style type="text/css">
        img{
            display: inline-block;
        }
    </style>

</head>

<body>
    <div class="container" id={{id}}>
        {{#each friends}}
        <div class="container">
            <h2>{{name}}</h2>
            <p>{{description}}</p>
        </div>
        {{/each}}
    </div>



<!--
    <center>
        <div id="{{1}}">
    	<div class="jumbotron" align="center">
    		<h1>You should try...</h1>
        </div>
    		<h2> <a href="{{url}}"> {{name}} </a></h2>
    		<img src="{{image}}" width ="100%"/>
        <br>


        <p>
        	<font size="3">
        	{{description}}
       		</font>
        </p>

        <b>
        <span class="glyphicon glyphicon-earphone" aria-hidden="true"></span>
        <font size="3%"> {{phone}} </font>
    	</br>
        <span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span>
        <font size="3%"> 
        	{{address}}
    		<span class="glyphicon glyphicon-globe" aria-hidden="true"></span>
    		<a href="{{url}}"> tajimasandiego.com </a>
    	</font>
        </div>
    </b>


    

    	
  

        <div class="container">
            <div class="row">
             
                    <br />
                </div>
            </div>

            <div class="row">
               
           
                   
                    <div class="twt-wrapper">
                        <div class="panel panel-info">
                            <div class="panel-heading">
                                Friends who have been here
                            </div>
                            <div class="panel-body">
                               
                        
                                
                                <div class="clearfix"></div>
                                <hr />
                                <ul class="media-list">
                                    <li class="media">
                                        <a href="#" class="pull-left">
                                            <img src="./images/bobbie.jpeg" alt="" class="img-circle" width="60">
                                        </a>
                                        <div class="media-body">
                                            <span class="text-muted pull-right">
                                                <small class="text-muted">7 days ago</small>
                                            </span>
                                            <strong class="text-success"> JJ Ma </strong>
                                            <p>
                                                Eating some good ramen!
                                            </p>
                                        </div>
                                    </li>
                                    <li class="media">
                                        <a href="#" class="pull-left">
                                            <img src="./images/ellen.jpg" alt="" class="img-circle" width="60">
                                        <div class="media-body">
                                            <span class="text-muted pull-right">
                                                <small class="text-muted">10 days ago</small>
                                            </span>
                                            <strong class="text-success">Ellen Yang </strong>
                                        </a>
                                            <p>
                                                Yummmmmmm!!
                                            </p>
                                        </div>
                                    </li>
                                    <li class="media">
                                        <a href="#" class="pull-left">
                                            <img src="./images/doge.jpeg" alt="" class="img-circle" width="60">
                                        </a>
                                        <div class="media-body">
                                            <span class="text-muted pull-right">
                                                <small class="text-muted">17 days ago</small>
                                            </span>
                                            <strong class="text-success"> Carol Chan </strong>
                                            <p>
                                                Enjoying some good Ramen with Kevin Tran
                                            </p>
                                        </div>
                                    </li>
                                </ul>
                                <span class="text-danger">2 users active</span>
                            </div>
                

                    
                     <a href="homepage.html" class="btn btn-default">Back to home</a>
    	</div>
    </div>
</div> -->





    	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    	<script src="https://code.jquery.com/jquery.js"></script>
    	<!-- Include all compiled plugins (blelow), or include individual files as needed -->
    	<script src="js/bootstrap.min.js"></script>
        <script src="public/js/{javascripti filename}.js"></script>
</body>
</html>
