<html>

<head>
    <title>Adventum</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="css/homeStyle.css" rel="stylesheet">
    <!-- Bootstrap -->
    <link href="../css/bootstrap.min.css" rel="stylesheet">
    <link href="../css/bootstrap-theme.min.css" rel="stylesheet">
</head>

<body>
    <ul class="navigation">
        <li class="nav-item"><a href="/map">Adventum</a></li>
        <!-- <li class="nav-item"><a href="/myProfile">My Profile</a></li>
        <li class="nav-item"><a href="/settings">Settings</a></li> -->
        <li class="nav-item"><a href="/">Logout</a></li>
    </ul>
    <input type="checkbox" id="nav-trigger" class="nav-trigger" />
    <label for="nav-trigger" style="margin-top: 1%; margin-left: 3%"></label>
    <!-- Everything that is not nav menu goes here -->
    <div class="site-wrap">
        <div class="container" style="margin-top: 3%" align="center">
            <h1>How about this?</h1> {{#with currPlace}}
            <div id="{{id}}" style="margin-top: 8%">
                <h2>{{name}}</h2>
                <img src="{{image}}" height="40%" width="70%">
                <p style="margin-top: 2%">
                    Type: {{type}}
                    <br> Friend Checkins: {{numCheckins}}
                </p>
                <p style="margin-top: 5%">
                    <a href="{{link}}">{{link}}</a>
                    <br> {{phone}}
                    <br> {{address}}
                </p>
                <p style="margin-top: 5%" align="left">
                    {{description}}
                </p>
            </div>
            {{/with}}
            <p align="center" style="margin-top: 8%; margin-bottom: 5%">
                <a href="/map">Back to Map</a>
            </p>
        </div>
    </div>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://code.jquery.com/jquery.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>
    <!-- <script src="../routes/surprise.js"></script> -->
</body>

</html>
