<html>

<head>
    <title>Adventum</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="css/homeStyle.css" rel="stylesheet">
    <!-- Bootstrap -->
    <link href="../css/bootstrap.min.css" rel="stylesheet">
    <link href="../css/bootstrap-theme.min.css" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
    <link href="css/navBar.css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
</head>

<body>
    <!-- Top Nav Bar -->
    <ul class="navbar-list">
        <li class="navbar-list"><a href="/list"><i class="fa fa-th-list fa-2x"></i></a></li>
        <li class="navbar-list"><a href="/map"><i class="fa fa-globe fa-2x"></i></a></li>
        <li class="navbar-list"><a href="#logout"><i class="fa fa-sign-out fa-2x"></i></a></li>
    </ul>
    <br>
    <div id="logout" class="overlay">
        <div class="popup">
            <center>
                <div class="logout-content">
                    Are you sure you want to logout?
                    <br>
                    <ul class="logout-list">
                        <li class="logout-list"><a href="#" style="background-color: #333333">Cancel</a></li>
                        <li class="logout-list"><a href="/" style="background-color: #00B0B0"><b>Logout</b></a></li>
                    </ul>
                </div>
            </center>
        </div>
    </div>
    <!-- End of Top Nav Bar code -->
    <div class="bg-solid"></div>
    <div class="container-surprise" style="background-color: #333333; margin-top: 2%" align="center">
        <i><center><h2 class="roboto" ><b>Try this!</b></h2></center></i> {{#with currPlace}}
        <div style="margin-top: 5%">
            <h3 class="roboto">{{name}}</h3>
            <p class="roboto" style="margin-top: 3%; margin-bottom: 6%">
                <b>Where: </b>{{city}}
                <br>
                <img src="{{picture}}" height="40%" width="90%" style="padding-top: 3%">
            </p>
            <h4 class="roboto"><b>Friends who've been here:</b></h4>
            <p class="roboto" style="margin-top: 5%" align="center">
                <img src="{{profilePicture}}" height="50px" width="50px" style="padding-right: 5px">
                <b>{{username}}:</b> "{{message}}"
            </p>
        </div>
        {{/with}}
    </div>
    <div>
        <table width="100%">
            <tr>
                <td width="100%" align="center">
                    <button class="btn-surprise-again" onclick="surpriseMe()">Not feeling this? Click me again!</button>
                </td>
            </tr>
        </table>
    </div>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://code.jquery.com/jquery.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>
    <!-- <script src="../routes/surprise.js"></script> -->
    <script>
    function surpriseMe() {
        window.location.href = "/surprise";
    }
    </script>
</body>
</html>
